# Imagem publicada no GHCR
GHCR_IMAGE=ghcr.io/sidneyjunio-nerus/relatengelmig:latest

PORT=3210

# Pasta com TXT/PRN do NW
CLIENT_PRINT_ROOT=/v/saci/print

# Pasta dentro do container (deve bater com o volume do docker-compose)
PRINT_ROOT=/v/saci/print

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=usuario
MYSQL_PASSWORD=password
MYSQL_DATABASE=sqldados
